<div id="wrapper" class="toggled">
    <div class="overlay"></div>
     
         <!-- Sidebar -->
     <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
        <div class="sidebar-brand">
          <a >Brand</a></div></div>
        <li *ngFor="let option of sideMenuOptions">
            <a (click)="displayPackages = !displayPackages; onPackageChange(option)">{{option.name}} <span *ngIf="option.child?.length" class="caret"></span></a>
            <ul *ngIf="displayPackages && option.child">
                    <li *ngFor="let child of option.child"><a (click)="onPackageChange(child)">{{child.name}}</a></li>
            </ul>
        </li>
        
        <li style ="margin-top: 30px"><a><li (click)="goBack()">Go Back</li></a></li>
       </ul>
   </nav>
         <div id="page-content-wrapper">
             <div class="container">
                 <div class="row">

                    <mat-card class="example-card" style="background-color: darkslategray;">
                        <mat-card-header>
                            <mat-card-title class="font-bold">{{ this.selectedProject | uppercase}}</mat-card-title>
                            <mat-card-subtitle></mat-card-subtitle>
                        </mat-card-header>
              
                        <mat-card-content [ngStyle]="(this.param != 'highly' && this.param != 'fully' && param != 'semi')? {backgroundColor: 'rgb(26, 26, 26)'}: null">
                            <div class="col-md-12 mb-2" *ngIf="flatDetail && param == 'highly' || param == 'fully' || param == 'semi'">
                                <div class="row">
                                    <div class="col-md-8">
                                        <img class="main-image" mat-card-image [src]="mainImage" alt="">
                                    </div>
                                    <div class="col-md-4" style ="overflow-y: auto">
                                        <mat-card style="background-color: #008b8b">
                                            <mat-card-header>
                                                <p class="font-bold">{{flatDetail.flat}}  |  {{flatDetail.size }}  |  {{flatDetail.direction}} Facing</p>
                                            </mat-card-header>
                                            <mat-card-content>
                                                <hr>
                                                <h4 class="font-bold">BOQ</h4>
                                                <!--<div *ngFor="let boq of specifications.boq">
                                                    <span> <span class="font-bold">Item: </span>{{ boq.item }} </span>  |  
                                                    <span> <span class="font-bold">Quantity: </span>{{ boq.quantity}} </span>  |  
                                                    <span> <span class="font-bold">Brand: </span>{{ boq.brand}} </span>  | 
                                                    <span> <span class="font-bold">Model: </span>{{ boq.model}} </span>  
                                                </div> -->
                                                <!--<table *ngFor="let boq of specifications.boq">
                                                    <tr>
                                                        <th class="boq-header"><span class="font-bold">Item</span></th>
                                                        <th class="boq-header"><span class="font-bold">Quantity</span></th>
                                                        <th class="boq-header"><span class="font-bold">Brand</span></th>
                                                        <th class="boq-header"><span class="font-bold">Model</span></th>
                                                    </tr>
                                                    <tr>
                                                        <td class="boq-data">{{ boq.item }} </td>
                                                        <td class="boq-data">{{ boq.quantity }} </td>
                                                        <td class="boq-data">{{ boq.brand }} </td>
                                                        <td class="boq-data">{{ boq.model }} </td>
                                                    </tr>
                                                </table> -->
                                                <table class="boq-table">
                                                    <tr>
                                                        <th class="boq-header"><span class="font-bold">Item</span></th>
                                                        <th class="boq-header"><span class="font-bold">Quantity</span></th>
                                                        <th class="boq-header"><span class="font-bold">Brand</span></th>
                                                        <th class="boq-header"><span class="font-bold">Model</span></th>
                                                    </tr>
                                                    <tr *ngFor="let boq of specifications.boq">
                                                        <td class="boq-data">{{ boq.item }} </td>
                                                        <td class="boq-data">{{ boq.quantity }} </td>
                                                        <td class="boq-data">{{ boq.brand }} </td>
                                                        <td class="boq-data">{{ boq.model }} </td>
                                                    </tr>
                                                </table>
                                                <hr>
                                                <h4 class="font-bold" mt-2>Total Price</h4>
                                                <p>{{specifications.totalEstimation | currency: "INR":"symbol"}}</p>
                                            </mat-card-content>
                                            <mat-card-actions>
                                                <button mat-raised-button>Pay</button>
                                                <button mat-raised-button>Contact</button>
                                                <button mat-raised-button>Compare</button>
                                            </mat-card-actions>
                                        </mat-card>
                                    </div>
                                </div>
                            </div>
                            <div style="padding: 10px">
                                <app-customise *ngIf="this.param == 'customize'"></app-customise>
                                <h2 *ngIf="this.param != 'customize' && this.param != 'highly' && this.param != 'fully' && param != 'semi'"> No Items to show. </h2>
                            </div>
                            <div class="row" *ngIf="param == 'highly' || param == 'fully' || param == 'semi'">
                                <div *ngFor="let img of specifications.images" mat-card-image class="col">
                                    <button class="img-button" (click)="changeImage(img)">
                                            <img class="flat-image" [src]="img" alt="">
                                    </button>
                                </div>
                            </div>

                        </mat-card-content>
                    </mat-card>
                 </div>
             </div>
         </div>
         <!-- /#page-content-wrapper -->
     </div>
     <!-- /#wrapper -->
